.bestsellers {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.bestsellers img {
  width: 100%;
  margin-bottom: 1rem;
}

.bestsellers img:hover {
  opacity: 90%;
}

.bestsellers h2 {
  text-transform: capitalize;
  padding-top: 0;
}

.bestsellers p {
  text-transform: uppercase;
}
