.productPhoto {
  width: 100%;
}

h1 {
  padding-bottom: 0.5rem;
}

.productPhotoSelectors {
  padding: 0.5rem 0 1rem 0;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 2rem;
  padding-top: 1rem;
}
